* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --background: greenyellow;
  --gradient: linear-gradient(
    180dge,
    rgba(45, 112, 1253, 0.73) 0%,
    #163e9e 100%
  );
  --dark: #001747;
  --grey: #b1bacd;
  --grey-border: rgba(210, 210, 210, 0.75);
  --grey-light: #eee;
  --grey-dark: #405715;
  --blue: #2d70fd;
  --green: #00d8a7;
  --white: #fff;
  --font-color: #8f98a8;
}

body {
  background-color: var(--background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  background: var(--blue);
  font-size: 1.1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  color: var(--white);
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border: none;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

/* ul li {
  list-style-type: disc;
} */

h2,
p {
  margin: 0.5rem;
}

/* Todo-container style */

.Todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2rem;
  /*align-items: center;
  */
  width: 60%;
  height: 50%;
  padding: 3rem;
  background-color: var(--white);
  max-width: 35rem;
}

h2 {
  text-transform: uppercase;
  height: 2rem;
  text-align: center;
}

.input {
  position: relative;
  display: flex;
}

.input-field {
  width: 100%;
  border: 0.06rem solid #d2d2d2bf;
  padding: 1.25rem;
  border-radius: 0.5rem;
  font-size: 1rem;
}

input[type="text"]::placeholder {
  color: var(--grey);
}

.todo-container {
  display: flex;
  gap: 1rem;
}

#todoList p {
  color: var(--font-color);
}

.disabled {
  display: flex;
  text-decoration: line-through;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid var(--grey-border);
  border-radius: 50%;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  content: "\2713";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 1.7rem;
  text-align: center;
  border: 0.06rem solid var(--grey-border);
  border-radius: 50%;
  color: var(--white);
  background-color: var(--green);
  border-radius: 50%;
  border: 0.06rem solid var(--grey-light);
}

.counter {
  border: 0.06rem solid var(--grey-light);
}

.counter-container {
  margin: 0.5em;
  display: flex;
  height: 2rem;
  justify-content: space-between;
}

.counter-container p {
  align-self: center;
  color: var(--grey);
}

.counter-container button {
  border: none;
  background-color: transparent;
  color: var(--grey);
  font-size: 1rem;
}

footer {
  display: flex;
  align-items: center;
  /* background-color: var(--dark); */
  height: 10vh;
}

.scroll {
  height: 18rem;
  scrollbar-width: thin;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 0.5rem;
}
.scroll::-webkit-scrollbar-track {
  display: none;
}
